/***公共样式***/

// 引入基础样式表
@import './base.less';

// 手动重置
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    line-height: 1;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}
input{
    outline: none;
    font-size: medium;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #A9A9A9; 
} 

// 根组件
.mint-tabbar{
    .mint-tab-item{
        padding: 0;
        
        a{
            display: block;
            height: 1rem;
            line-height: 1rem;
            .fs(18);
            .cl(@3);

            &.router-link-active{
                .cl(@red);
            }
        }
    }
}

