/***公共样式***/

// 引入基础样式表
@import './base.less';

// 手动重置
body{
    font-family: sans-serif;
}
ul,li{
    list-style-type: none;
}
input{
    outline: none;
    font-size: medium;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #A9A9A9; 
} 

// 根组件
.tabbar{
    width: 100%;
    .bgcl(@f3);
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    a{
        flex: 1;
        text-align: center;
        height: 1rem;
        line-height: 1rem;
        .fs(24);
        &.router-link-active{
            .cl(@red);
        }
    }
}

